<div class="container text-muted">
    <div class="row pt-4 element-position">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <app-header></app-header>
                    <hr>
                </div>
                <div class="card-body pt-0 pb-4">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <footer class="element-position d-flex align-items-end justify-content-center pb-4 pt-4">
        <app-footer></app-footer>
    </footer>
</div>
<app-settings></app-settings>
